.quiz-container{
    display: grid;
    grid-template-columns: 3fr  1fr;
    gap: 10px;
    
}

.question-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 0 20px;
}

@media screen and (max-width:768px){
    .quiz-container{
        grid-template-columns: repeat(1,1fr);
    }
    .question-container{
       
        grid-template-columns: repeat(1,1fr);
        padding: 0 10px;
       
    }
    
}

.react-color{
    background: red;
}
.js-color{
    background: blue;
}
.css-color{
    background: yellow;
}
.git-color{
    background: #000;
}