.home-img{
    background: url('https://i.ibb.co/c1N7gHm/view-mysterious-cardboard-box.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
    border-radius: 30px;
}