.response{
    display: flex;
    flex-direction: column;
    
    z-index: 999;
    position: absolute;
   left: 0;
   top: 50px;
   width: 100%;
    
}

@media screen and (min-width:768px) {
    .response{
        position: relative;
        flex-direction: row;
        top: 0;
    }
    
}